body {
    background-color: #1B426F; /* Dark background color for night mode */
    color: #fff; /* Light text color for night mode */
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

header {
background-color: #222; /* Darker background for header */
padding: 10px 20px;
}

h1,	#go_back, h3 {
    display: inline-block; /* Display h1 and a elements in one line */
    vertical-align: middle; /* Align elements vertically */
    margin: 0; /* Remove any default margins */
}

h2 {
    margin-left: 100px;
    display: inline-block; /* Display h1 and a elements in one line */
    vertical-align: middle; /* Align elements vertically */
}

h3 {
    position: relative;
    left: 1050px;
}

#my_store {
    margin: 0;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
}

#go_back {
    position: relative;
    left: 1200px;
    bottom: 5px;
    color: #175b98;
}

table {
    border-collapse: collapse;
    border: 1px solid #fff; /* Border color for table */
    width: 100%;
}

th, td {
    border: 1px solid #888; /* Border color for table cells */
    padding: 8px;
}

th {
    background-color: #06080a; /* Header background color */
}

#delete-button {
    background-color: red; /* Red button background color for delete action */
    color: white;
}

#delete-button:hover {
    background-color: #7a0000; /* Red button background color for delete action */
}